
body{
	background-image: url(img/paper.jpg);
	font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#333;
	line-height:1.8;	
}

#video{
	margin-left:auto;
	margin-right:auto;
	max-width:85%;
	border-radius:15px; 
	}
	
#wrapper{
	margin-left:auto;
	margin-right:auto;
	max-width:80%;
		
	padding-left:40px;
	padding-right:40px;

	background-color:#FFF; 					
	background-color:rgba(255,255,255,0.8); 
	border-radius:15px; 

	}

h1{
	font-size:44px;
	color:#990000;

}

h2{
	font-size:30px;
	color:#1e3034;
}

p{
	font-size:20px;
	color:#333;
}

img{
	height:auto;
	max-width:100%;
	text-align:center;
	background-color:#FFF; 					
	background-color:rgba(255,255,255,0.8); 
	border-radius:15px; 

}